@use 'scss' as syn;

:host {
  display: block;
}

.text-block {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--dark {
    .text-block__body {
      color: syn.$color-neutral-300;
    }
  }

  &__heading {
    display: block;
    margin-bottom: syn.$space-xs;
  }

  &__body {
    margin: 0;
    font-size: syn.$font-size-base;
    line-height: syn.$line-height-relaxed;
    color: syn.$color-neutral-600;
  }
}
