@use 'scss' as syn;

:host {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  &.sg-column--dark {
    color: syn.$color-neutral-0;
  }
}
