@use 'scss' as syn;

:host {
  display: block;
  font-family: inherit;
}

.banner {
  @include syn.flex-between;
  padding: syn.$space-lg syn.$space-xl;
  background-color: syn.$color-brand-100;
  border-radius: syn.px-to-rem(8);
  gap: syn.$space-lg;

  &--dark {
    background-color: syn.$color-neutral-800;
    color: syn.$color-neutral-0;
  }

  &__content {
    @include syn.flex-column;
    gap: syn.$space-xs;
  }

  &__title {
    margin: 0;
    font-size: syn.$font-size-lg;
    font-weight: syn.$font-weight-semibold;
    color: syn.$color-neutral-900;

    .sg-banner--dark & {
      color: syn.$color-neutral-0;
    }
  }

  &__body {
    margin: 0;
    font-size: syn.$font-size-base;
    color: syn.$color-neutral-600;

    .sg-banner--dark & {
      color: syn.$color-neutral-300;
    }
  }

  &__cta-link {
    text-decoration: none;
    flex-shrink: 0;
  }
}
