@use 'sass:math';
@use 'strip-unit' as unit;

$base-font-size: 16 !default;

@function px-to-rem($value, $base: $base-font-size) {
  @if math.is-unitless($value) {
    $value: $value * 1px;
  }

  @if math.is-unitless($base) {
    $base: $base * 1px;
  }

  @return math.div(unit.strip-unit($value), unit.strip-unit($base)) * 1rem;
}
