@use 'scss' as syn;

:host {
  --fi-answer-color: var(--syn-color-text-secondary, #{syn.$color-neutral-700});

  display: block;
}

.faq-item {
  display: block;

  &--dark,
  &.sg-faq-item--dark {
    --fi-answer-color: var(--syn-color-text-secondary, #{syn.$color-neutral-300});
  }

  &__answer {
    color: var(--fi-answer-color);
    font-size: syn.$font-size-base;
    line-height: syn.$line-height-relaxed;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

}
